<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录后台</title>
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css"/>

    <!-- 引入 layui.js -->
    <script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>

</head>
<body style="background-color: #ccc">

<div>
    <div style="text-align: center" class="layui-container">
        <div style="margin: 50px 0" class="layui-row">
            <img title="公众号：木瞳科技" style="width: 20%;" src="https://s4.ax1x.com/2022/01/11/7mCYDA.png"/>
            <p style="font-size: 40px">木瞳科技</p>
        </div>

        <div style="text-align:center;" class="layui-row">
            <div class="layui-row">
                <p style="color: red" th:text="${msg}"></p>
            </div>
            <form class="layui-form" action="/admin" method="post">

                <div class="layui-form-item">
                    <div class="layui-inline"><label class="layui-form-label">用户名</label></div>
                    <div class="layui-inline">
                        <input type="text" name="username" required placeholder="请输入用户名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline"><label class="layui-form-label">密码</label></div>
                    <div class="layui-inline">
                        <input type="password" name="password" required placeholder="请输入密码" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <button type="submit" class="layui-btn">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var system = {};
    var p = navigator.platform;
    system.win = p.indexOf("Win") === 0;
    system.mac = p.indexOf("Mac") === 0;
    system.x11 = (p === "X11") || (p.indexOf("Linux") === 0);
    if (system.win || system.mac || system.xll) {//如果是电脑

        $.getScript("https://amayaliu.cn/PersonalHabits/AmayaBlossoms.js");
    } else { //如果是手机

    }
</script>
</body>
</html>